<section>
  <header>
    <div class="header-left-container">
      <h1>Thread</h1>

    </div>
    <button (click)="closeThread()" class="close-btn">
      <app-close></app-close>
    </button>

  </header>
  <div class="thread-content">
    @if (this.user.selectedUserMessage() !== null) {
    <app-message-answer [userMessage]="this.user.selectedUserMessage()" [hideDetails]="true"></app-message-answer>

    }
    <!-- @for ( answer of answers(); track $index) { -->
      <app-message-answer [threadAnswerOpen]="true"  [hideDetails]="true"></app-message-answer>

        </div>
      <app-message-field [isThreadAnswerOpen]="true"></app-message-field>
</section>



