<section>
  <header class="fontNunito">
    <div class="header-left-container">
      <h1 class="font-nunito">{{ currentChat?.channelName }}</h1>

    </div>
    <button (click)="closeThread()" class="close-btn">
      <app-close></app-close>
    </button>

  </header>
  <div class="thread-content">
    @if (this.user.selectedUserMessage() !== null) {
    <app-message-answer [userMessage]="this.user.selectedUserMessage()" [hideDetails]="true"></app-message-answer>

    }
    @for ( answer of answers(); track $index) {
      <app-message-answer [threadAnswerOpen]="true" [answer]="answer" [hideDetails]="true"></app-message-answer>
    }
        </div>
      <app-message-field [isThreadAnswerOpen]="true" class="padding-25"></app-message-field>
</section>



