<section class="main-content">
    <button class="close-btn" (click)="closeDialog()">
      <app-close></app-close>
    </button>
  
    <div class="content">
      <h1 class="title-name">MELDUNG!</h1>
  
      <p class="description">
        Du hast diesen Channel nicht erstellt. <br>
        Du kannst ihn nicht löschen. Du kannst ihn nicht bearbeiten. <br>
        Du kannst keinen neuen Benutzer hinzufügen.
      </p>
  
      <div class="btn-container">
        <button class="login-btn" (click)="closeDialog()">
          Zurück
        </button>
      </div>
    </div>
  </section>