<section>

<div class="content-container">

  <div class="form-title ">

    <a class="arrow-back" routerLink="/start">
      <app-back></app-back>
    </a>

    <h2>Passwort zurücksetzen</h2>

      <button class="info-container">
        <img id="info-icon" (click)="openInfoBox()" class="pulse info-icon"
        src="/assets/media/icons/info_symbol-icon.png" alt="">
      </button>
    </div>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="input-container"> 
    <!-- 
      PWD-CHECK: min-length-8, max-length-32, chars A-Z, a-z, excl ÖöÄäÜü, all special-characters, no wing-dings, at least one from each category, no doubles
    -->
      <input id="password" class="input-field input-field-pwd-icon" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Neues Passwort" formControlName="password" aria-label="password" aria-required="true" aria-describedby="password-error"/>
      <i class="pwd-eye eye-pos" [ngClass]="{'eye-closed': !isPasswordVisible, 'eye-open': isPasswordVisible}" (click)="togglePasswordVisibility()" ></i>
      <div class="warn-txt">
      @if (resetForm.controls['password'].invalid && (isFormValid || resetForm.controls['password'].dirty || resetForm.controls['password'].touched)) {
          @if (resetForm.controls['password'].errors?.['required']) {
            <span >Password ist ein Pflichtfeld.</span>
          }
          @if (resetForm.controls['password'].errors?.['password']) {
            <span id="password-error">Password ist unvollständig/inkorrekt, siehe Info-box.</span>
          }
        }
      </div>
      </div>
      
      <div class="input-container"> 
        <input name="passwordCopy" class="input-field input-field-pwd-icon" [type]="isPasswordCopyVisible ? 'text' : 'password'" placeholder="Neues Passwort" formControlName="password" aria-label="password" aria-required="true" aria-describedby="password-error"/>
        <i class="pwd-eye-2  eye-pos-2" [ngClass]="{'eye-closed': !isPasswordCopyVisible, 'eye-open': isPasswordCopyVisible}" (click)="togglePasswordCopyVisibility()" ></i>
        <div class="warn-txt">
        @if (resetForm.controls['password'].invalid && (isFormValid || resetForm.controls['password'].dirty || resetForm.controls['password'].touched)) {
          @if (resetForm.controls['password'].errors?.['required']) {
            <span >Password ist ein Pflichtfeld.</span>
          }
          @if (resetForm.controls['password'].errors?.['pattern']) {
            <span id="password-error">Password ist unvollständig/inkorrekt.</span>
          }
        }
      </div>
      </div>
    
    <div class="btn-container">
      <button class="forward-btn" [routerLink]="['/']">Passwort ändern</button>
    </div>
  </form>

</div>

</section>

