@import "../../../colors.scss";
@import "../../../styles.scss";
@import "../../../animations.scss";

.main-content {
  .form-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1.875rem;
    .form-title-name {
      color: $primary;
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
      line-height: normal;
    }
    .info-container {
      background: none;
      width: 2rem;
      height: 2rem;
    }

    .info-icon {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: pulse-effect 2s infinite;
    }
  }
  .description {
    text-align: center;
    margin-bottom: 1.875rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      label {
        margin-bottom: 1.875rem;
      }
    }
    .input-field {
      background-repeat: no-repeat;
      background-position: left 1.875rem top 50%;
      border: solid 0.0625rem transparent;
      padding-left: 5.3125rem;
      padding-top: 1.125rem;
      padding-bottom: 18px;
      width: 100%;
      height: 3.07rem;
      background-color: $bg-color;
      border-radius: $b-radius-2;
      @include firstTranistion();
      &:hover {
        border: solid 0.0625rem $black;
      }
      &:focus {
        border: solid 0.0625rem $secondary;
        outline: $secondary;
      }
    }

    .input-icon {
      position: absolute;
      top: .8125rem;
      left: 0;
      padding: 0 1.5625rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .eye-pos {
      position: absolute;
      top: .625rem;
      right: 0;
      padding: 0 1.5625rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .match {
      height: 1.125rem;
    }

    .btn-password {
      display: flex;
      justify-content: center;
      background: none;
      color: $primary-hover;
      text-decoration: none;
      width: fit-content;
      padding: 0.3125rem 0.9375rem;
      border-radius: $b-radius-2;
      margin-bottom: 30px;
      border: solid 0.0625rem transparent;
      @include firstTranistion();
      &:hover {
        color: $primary;
        background: $bg-color;
      }
      &:focus {
        color: $primary;
        background: $bg-color;
        border: solid 0.0625rem $secondary;
        outline: $secondary;
      }
    }
  }
  .eye-pos {
    top: 13%;
    left: 89%;
  }

  p {
    text-align: center;
    margin-bottom: 1.875rem;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1.875rem;
    margin-top: 1.875rem;
    width: 100%;

    .forward-btn {
      display: flex;
      justify-content: center;
      width: fit-content;
      font-weight: 700;
      font-size: 1.125rem;
      gap: .625rem;
      padding: .75rem 1.5625rem;
      border: solid 0.0625rem transparent;
      border-radius: $b-radius-2;
      color: $white;
      background-color: $primary;
      margin-left: auto;
      margin-top: auto;
      @include firstTranistion();
      &:hover {
        background-color: $primary-hover;
      }
      &:focus {
        background-color: $primary-hover;
        outline: $primary-hover;
      }
    }
  }
}
