<div class="search-container">
  <form action="#" method="get">
    <label for="search" class="visually-hidden">Search</label>

    <button type="submit" title="Search">
      <img src="/assets/media/icons/search.svg" alt="Search" />
    </button>

    <input
      type="search"
      id="search"
      name="search"
      #searchInput
      [value]="searchTerm"
      (keyup)="onKeyUp(searchInput.value)"
      required
    />
  </form>

  <div class="show-found">
    <ul>
      @for(result of results; track $index) { 
        @if(searchTerm.startsWith('@')) {
          <li>
            <button>
              <app-avatar [user]="result" [userList]="true"></app-avatar>
              <span>{{ result.displayName }}</span>
            </button>
          </li>
      } }
    </ul>
  </div>
</div>
