<div class="search-container">
  <form action="#" method="get">
    <label for="search" class="visually-hidden">Search</label>

    <button type="submit" title="Search">
      <img src="/assets/media/icons/search.svg" alt="Search" />
    </button>

    <input
      type="search"
      id="search"
      name="search"
      #searchInput
      [value]="searchTerm()"
      (input)="searchTerm.set(searchInput.value)"
      (keydown.ENTER)="search()"
      placeholder="Code learning durchsuchen"
      required
    />
  </form>
  
  <div class="show-found">
    <ul>
        @for(channel of this.chat.currentUserChannels; track $index) {
        <li>
          <button (click)="openChannel(channel.chanId)">
            #
            <span>{{ channel.channelName }}</span>
          </button>
        </li>
      }
      <!-- @for(user of this.sortListOfUser(); track $index) {
        @if(user.uId === this.fb.currentUser()?.uId) {
          <li>
            <button (click)="openMessage(user)" class="single-user">
              <div class="user-img">
                <app-avatar [user]="user" [userList]="true"></app-avatar>
              </div>
              <span>{{user.displayName}} (Du)</span> 
            </button>
          </li>
        } @else () {
          <li>
            <button (click)="openMessage(user)" class="single-user">
              <div class="user-img">
                <app-avatar [user]="user" [userList]="true"></app-avatar>
              </div>
              <span>{{user.displayName}}</span>
            </button>
          </li>

        }
      } -->


      </ul>
    </div>
</div>
