<div
  class="search-container"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  [ngClass]="{ 'opened mat-elevation-z2': overlayOpen() }"
>
  <label for="search" class="visually-hidden">Search</label>
  <button class="search-button" mat-icon-button (click)="search()">
    <mat-icon>search</mat-icon>
  </button>

  <input
    #searchInput
    placeholder="Code learning durchsuchen"
    [value]="searchTerm()"
    (input)="searchTerm.set(searchInput.value)"
    (keydown.ENTER)="search()"
    (click)="overlayOpen.set(true)"
  />
  @if(searchTerm()) {
  <button class="close-button" mat-icon-button (click)="clearSearch()">
    <mat-icon>close</mat-icon>
  </button>
  }
</div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="overlayOpen()"
  [cdkConnectedOverlayDisableClose]="false"
  (overlayOutsideClick)="clickedOutside($event)"
>
  <app-search-overlay />
</ng-template>
