<section class="main-content">

    
    <div class="form-title ">

    <a class="arrow-back" routerLink="/start">
      <app-back></app-back>
    </a>

    <h1 class="form-title-name">Passwort zurücksetzen</h1>

      <button class="info-container" >
        <img id="info-icon" class="pulse info-icon"
        src="/assets/media/icons/info_symbol-icon.png" alt="info icon">
      </button>
  </div>

  <form [formGroup]="resetForm" (ngSubmit)="pwdReset('Das Passwort wurde erfolgreich geändert.')">
    <div class="input-container"> 
      <label class="visually-hidden" for="password">Passwort</label>
        <input name="password" id="password" class="input-field" [type]="isPasswordTopVisible ? 'text' : 'password'" placeholder="Neues Passwort" formControlName="password" autocomplete="on"/>
        <i class="pwd-eye eye-pos" [ngClass]="{'eye-closed': !isPasswordTopVisible, 'eye-open': isPasswordTopVisible}" (click)="togglePasswordVisibilityTop()"></i>
        <div class="input-icon">
          <img src="./assets/media/icons/pwd-lock-icon-input-field.svg" alt="passwort">
        </div>
        <div class="warn-txt">
        @if (resetForm.controls['password'].invalid && (isFormValid || resetForm.controls['password'].dirty || resetForm.controls['password'].touched)) {
            @if (resetForm.controls['password'].errors?.['required']) {
              <span >Password ist ein Pflichtfeld.</span>
            }
            @if (resetForm.controls['password1'].errors?.['pattern']) {
              <span id="password-error">Password ist unvollständig/inkorrekt, siehe Info-box.</span>
            }
          }
        </div>
      </div>
      

    <div class="btn-container">
      <button class="forward-btn" [disabled]="!resetForm.valid">Passwort ändern</button>
    </div>
  </form>
</section>


