<section class="main-content">
  <a class="arrow-back" routerLink="/start">
    <app-back></app-back>
  </a>
  <div class="title-container">
    <h1 class="form-title-name">Impressum</h1>
  </div>

  <div class="content-section">
    <p>
      Michal Galas <br />
      Topfseifersdorfer str. 31 <br />
      09648 Mittweida
    </p>
    <p>
      Damian Poloczek <br />
      Chiemgaustr. 156 <br />
      81594 München
    </p>
  </div>

  <div class="content-e-mail">
    <h2>Kontakt</h2>
    <p><a href="mailto:contact&#64;michal-galas.de">contact&#64;michal-galas.de</a></p>
    <p><a href="mailto:contact&#64;damianpoloczek.com">contact&#64;damianpoloczek.com</a></p>
  </div>
</section>