<div class="container">
  <div class="container-content">
    <div class="title">
      <h2 class="fontNunito"># Entwicklerteam</h2>
      <button  class="close-btn" (click)="closeChannelEdit()">
        <app-close></app-close>
      </button>
    </div>

    
    <div class="channel-name-container" [ngClass]="{'d-none': channelEditTitel}">
      <div class="edit-name-container">
        <h3 class="fontNunito">Channel-Name</h3>
        <button class="fontNunito" title="Channelname ändern"(click)="editChannelTittle()">Bearbeiten</button>
      </div>
      <p class="fontNunito"><span style="font-weight: bold;">#</span> Entwicklerteam</p>
    </div>
    
    <div class="input-container" [ngClass]="{'d-none': !channelEditTitel}">
      <div class="edit-name-container">
        <label for="channel-name" class="fontNunito">Channel-Name</label>
        <button class="fontNunito" title="Channelname ändern" (click)="editChannelTittle()">Speichern</button>
      </div>
      <input type="text" #channelName class="fontNunito input-field-hash-icon"
        formControlName="channelName" placeholder="z.B. Kooperationsprojekte" name="channelName"  autocomplete="off"
        />
      <!-- @if (channelForm.controls['channelName'].invalid &&
      (channelForm.controls['channelName'].touched ||
      channelForm.controls['channelName'].dirty)) {
        @if(channelForm.controls['channelName'].errors?.['minlength']) {
          <span>Minimum 3 Buchstaben.</span>
      } } -->
    </div>

    <div class="channel-info-container">
      
      <div class="edit-info-container">
        <h3 class="fontNunito">Beschreibung</h3>
        <button class="fontNunito" title="Channelinfo ändern">Bearbeiten</button>
      </div>
      
      <p>
        Dieser Channel ist für alles rund um #dfsdf vorgesehen. Hier kannst du zusammen mit deinem Team Meetings abhalten, Dokumente teilen und Entscheidungen treffen
      </p>

      <div class="separator"></div>
      
      <div class="creat-user">
        <h3 class="fontNunito">Erstellt von</h3>
        <div class="fontNunito user-link" title="Chat user ändern">Noah Braun</div>
      </div>
    </div>
    
  </div>  

  <button class="check-container ontNunito" routerLink="main">Channel verlassen</button>
</div>
