<div class="container">
  <div class="container-content">
    <div class="title">
      <h2 class="fontNunito"># Entwicklerteam</h2>
      <button  class="close-btn" (click)="closeChannelEdit()">
        <app-close></app-close>
      </button>
    </div>

    <!-- Channel-Name -->
    <div class="channel-name-container" [ngClass]="{'d-none': channelEditTitel}">
      <div class="edit-name-container">
        <h3 class="fontNunito">Channel-Name</h3>
        <button class="fontNunito" title="Channelname ändern"(click)="editChannelTittle()">Bearbeiten</button>
      </div>
      <p class="fontNunito"><span style="font-weight: bold;">#</span> {{ channelData?.channelName}}</p>
    </div>
    
    <div class="input-container" [ngClass]="{'d-none': !channelEditTitel}">
      <div class="edit-name-container">
        <label for="channel-name" class="fontNunito">Channel-Name</label>
        <button class="fontNunito" title="Channelname speichern" (click)="editChannelTittle()">Speichern</button>
      </div>
      <input type="text" #channelName class="fontNunito input-field-hash-icon"
        formControlName="channelName" placeholder="z.B. Kooperationsprojekte" name="channelName"  autocomplete="off"
        />
    </div>
    <!-- Channel-Name END -->




    <!-- Beschreibung -->
    <div class="channel-info-container" [ngClass]="{'d-none': channelEditDescription}">
      <div class="edit-name-container">
        <h3 class="fontNunito">Beschreibung</h3>
        <button class="fontNunito" title="Channelinfo ändern" (click)="editChannelDescription()">Bearbeiten</button>
      </div>
      
      <p>
        
      </p>

      <div class="separator"></div>
      
      <div class="creat-user">
        <h3 class="fontNunito">Erstellt von</h3>
        <div class="fontNunito user-link" title="Chat user ändern">Noah Braun</div>
      </div>
    </div>
    <!-- Beschreibung END-->

    <div class="input-container" [ngClass]="{'d-none': !channelEditDescription}">
      <div class="edit-info-container">
        <label for="description" class="fontNunito">Speichern</label>
        <button class="fontNunito" title="Channel Beschreibung bearbeiten" (click)="editChannelDescription()">Speichern</button>
      </div>
      <input #description class="fontNunito" type="text" formControlName="channelDescription"
        placeholder="Dein Text hier" name="description" autocomplete="off"/>
    
        <div class="separator"></div>

        <div class="creat-user">
          <h3 class="fontNunito">Erstellt von</h3>
          <div class="fontNunito user-link" title="Chat user ändern">Noah Braun</div>
        </div>
      
    </div>
    
  </div>  

  <button class="check-container ontNunito" routerLink="main">Channel verlassen</button>
</div>
