<div class="team">
  <div class="search">
    <label for="name-input" class="visually-hidden">Name:</label>
    <ul class="added-user">
      @for (user of this.stateServer.choosenUser; track $index) {
          <li>
            <div class="user-img">
            <app-avatar [user]="user" [userList]="true"></app-avatar>
          </div>
          <div>{{user.displayName}}</div>
          <button class="close-btn" (click)="removeUser($index, $event)">
            <app-close></app-close>
          </button>
        </li>
      }
    </ul>
    <input type="text" id="name-input" placeholder="Name eingeben" autocomplete="off" />
  </div>
  <div class="list-of-user-container">
    <ul class="list-of-user-content">
      @for(user of this.filterOnlyAvaliableUser(); track $index) {
        <li (click)="addUser($index, $event, user.uId)">
            <button class="single-user">
              <div class="user-img">
                <app-avatar [user]="user" [userList]="true"></app-avatar>
              </div>
              <div>{{user.displayName}}</div>
            </button>
          </li>
        }
        @if(listOfAllUsers.length === 0) {
          <li>
            Du hast alle Benutzer ausgewählt.
          </li>
        }
    </ul>  
  </div>
</div>