<div class="wrapper">
  <div class="router-outlet">
    @if(!stateControl.isUserLoggedIn) {
      <app-header-landing></app-header-landing>
    }
    <div class="landing-page">
      <div class="main-container">
        <router-outlet> </router-outlet>
      </div>
      <app-toast
        [ngClass]="{ 'show-success': stateControl.showToast, 'show-error': stateControl.showError}"></app-toast>

      <div class="new-user-link-responsive">
        <p>Neu bei DABubble?</p>
        <button routerLink='/start/register'>Konto erstellen</button>
      </div>
    </div>
    @if(!stateControl.isUserLoggedIn) {
      <app-footer></app-footer>
    }
  </div>

</div>



<!--
  <div [ngClass]="{'edit-container': stateControl.globalEdit}"></div>
  <div class="wrapper">
    <div class="router-outlet" [ngClass]="{'overflow-y': stateControl.isUserLoggedIn}">
          <router-outlet> </router-outlet>
    </div>
  </div> -->
