<section>

  <header>
    <app-logo routerLink="/start"></app-logo>
  </header>

<div class="content-container">

  <div class="form-title">
    <a class="arrow-back" (click)="goBack()">
      <app-back></app-back>
    </a>
      <h2>Passwort zurücksetzen</h2>

  </div>  
    <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
      <div class="input-container">

        <label for="name">Bitte gib deine E-Mail ein:</label>
        <input class="input-field input-field-mail-icon" type="email" placeholder="beispielname@email.com" formControlName="email"/>
        <div class="warn-txt">
        
        @if (recoveryForm.controls['email'].invalid && (isFormValid || recoveryForm.controls['email'].dirty || recoveryForm.controls['email'].touched)) {
        @if (recoveryForm.controls['email'].errors?.['required']) {
            <span>E-Mail ist ein Pflichtfeld.</span>
          }
          @if (recoveryForm.controls['email'].errors?.['email']) {
            <span id="email-error">eMail ist unvollständig/inkorrekt.</span>
          }
        }
      </div>

    </div>
      
      <p>
        Wir senden Dir eine E-Mail, <br> über die 
        Du dein Passwort ändern kannst.
      </p>

      <div class="btn-container" >
        <button class="forward-btn" routerLink='/login'>E-Mail senden</button>
      </div>
    </form>
  </div>

<app-footer></app-footer>
</section>
