<section class="main-content">
    <div class="form-title">
      <h1 class="form-title-name">Anmeldung</h1>
  </div>

  <p class="description">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>

  <!-- form container -->
  <form [formGroup]="loginForm" (ngSubmit)="loginWithEmailAndPassword()">
    <div class="input-container">
      <label class="visually-hidden" for="email">E-Mail-Adresse</label>
      <input class="input-field" id="email" type="email" formControlName="email"
        placeholder="beispielname@email.com" autocomplete="username"/>
        <div class="input-icon">
          <img src="./assets/media/icons/mail-icon-input-field.svg" alt="e-mail">
        </div>
        <div class="warn-txt">
          @if(fb.errorMessageLogin()){
          <span>{{ fb.errorMessageLogin() }}</span>
          }
        @if (loginForm.controls['email'].invalid && (isFormSubmitted || loginForm.controls['email'].touched ||
          loginForm.controls['email'].dirty)) {
        @if (loginForm.controls['email'].errors?.['required']) {
        <span>E-Mail ist ein Pflichtfeld.</span>
          }
        @if (loginForm.controls['email'].errors?.['email']) {
          <span id="email-error">E-Mail ist unvollständig/inkorrekt.</span>
        }
      }
      </div>
    </div>
    
    <div class="input-container">
      <label class="visually-hidden" for="password">Passwort</label>
      <input autocomplete="current-password" id="password" class="input-field input-field-eye-icon" [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password"
        placeholder="Passwort"/>

          <i class="pwd-eye eye-pos" [ngClass]="{'eye-closed': !isPasswordVisible, 'eye-open': isPasswordVisible}" (click)="togglePasswordVisibility()" ></i>

          <div class="input-icon">
          <img src="./assets/media/icons/pwd-lock-icon-input-field.svg" alt="passwort">
        </div>
        <div class="warn-txt">

          @if (loginForm.controls['password'].invalid && (isFormSubmitted || loginForm.controls['password'].touched || loginForm.controls['password'].dirty)) {
            @if (loginForm.controls['password'].errors?.['required']) {
            <span>Password ist ein Pflichtfeld.</span>
            }
            @if (loginForm.controls['password'].errors?.['minlength']) {
            <span id="password-error">
              Mindestens 8 Zeichen erforderlich: ein Klein- u. ein Großbuchstabe, eine Zahl und ein Sonderzeichen.</span>
            }
            @if ((loginForm.controls['password'].errors?.['pattern']) && !(loginForm.controls['password'].errors?.['minlength'])) {
            <span>Mindestanforderungen nicht erfüllt.</span>
            }
          }
        </div>
    </div>

    <div class="btn-container">
      <button class="login-btn" type="submit">Anmelden</button>
      <a class="guest-btn" routerLink="main">Gäste-Login</a>
    </div>
    <!-- pwd recovery link -->
    <button class="btn-password" routerLink= '/recovery' title="Passwort vergessen?" aria-label="Link zur Passwort wiederherstellung">Passwort vergessen?</button>
    <!-- separator -->
    <div class="seperator-container">
      <span class="sep-line-txt">ODER</span>
  </div>
  <!-- goggle btn -->
  </form>

  <a class="input-focus btn-google"
  (click)="createNewUserWithGoogle()">
  <img src="/assets/media/icons/google-logo-icon.svg" alt="google logo">
  Anmeldung mit Google
  </a>
</section>
