@import "./../../../colors.scss";
@import "./../../../styles.scss";

.main-content {
  .form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1.875rem;
    .form-title-name {
      color: $primary;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  .description {
    text-align: center;
    margin-bottom: 1.875rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .input-field {
      border: solid 0.0625rem transparent;
      padding-left: 5.3125rem;
      padding-top: 1.125rem;
      padding-bottom: 1.125rem;
      width: 100%;
      height: 3.07rem;
      background-color: $bg-color;
      border-radius: $b-radius-2;
      @include firstTranistion();
      &:hover {
        border: solid 0.0625rem $black;
      }

      &:focus {
        border: solid 0.0625rem $secondary;
        outline: $secondary;
      }
    }
    .input-icon {
      position: absolute;
      top: .8125rem;
      left: 0;
      padding: 0 1.5625rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .warn-txt-hight {
      height: 3.4375rem;
    }


    .eye-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      position: absolute;
      top: .625rem;
      right: 0;
      padding: 0 1.5625rem;
    }



    .btn-password {
      display: flex;
      justify-content: center;
      background: none;
      color: $primary-hover;
      text-decoration: none;
      width: fit-content;
      padding: 0.3125rem 0.9375rem;
      border-radius: $b-radius-2;
      margin-bottom: 1.875rem;
      border: solid 0.0625rem transparent;
      transition: all 175ms ease-in-out;
      &:hover {
        color: $primary;
        background: $bg-color;
      }
      &:focus {
        color: $primary;
        background: $bg-color;
        border: solid 0.0625rem $secondary;
        outline: $secondary;
      }
    }

    .seperator-container {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      margin-bottom: 1.875rem;
      &::before {
        content: "";
        position: absolute;
        background-color: $bg-color;
        height: .125rem;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .sep-line-txt {
        display: flex;
        border-radius: $b-radius-1;
        padding-inline: .9375rem;
        background-color: $white;
        z-index: 1;
      }
    }
  }
  .btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.75rem;
    background-color: $bg-color;
    border-radius: $b-radius-2; //3.125rem;
    color: $primary;
    border: solid 0.0625rem transparent;
    transition: all 175ms ease-in-out;
    &:hover {
      border: solid 0.0625rem $secondary;
      outline: $secondary;
      font-weight: 500;
    }
    &:focus {
      border: solid 0.0625rem $secondary;
      outline: $secondary;
    }
    img {
      margin-right: 1rem;
    }
  }

  p {
    text-align: center;
    margin-bottom: 1.875rem;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1.875rem;
    margin-bottom: 1.875rem;
    width: 100%;

    .login-btn,
    .guest-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      max-width: 10.375rem;
      width: 100%;
      font-weight: 700;
      font-size: 1.125rem;
      gap: .625rem;
      padding: .75rem 1.5625rem;
      border-radius: $b-radius-2;
      color: $white;
    }
    .e-mail-button {
      width: fit-content;
      margin-left: auto;
    }
    .login-btn {
      background-color: $primary;
      transition: all 175ms ease-in-out;
      &:hover {
        background-color: $primary-hover;
      }
      &:focus {
        background-color: $primary-hover;
        outline: $primary-hover;
      }
    }
    .guest-btn {
      border: solid .0625rem $primary;
      color: $primary;
      background-color: $white;
      transition: all 175ms ease-in-out;
      &:hover {
        background-color: $primary-hover;
        color: $white;
        border: solid .0625rem $primary-hover;
      }
      &:focus {
        background-color: $primary-hover;
        color: $white;
        border: solid .0625rem $primary-hover;
        outline: $secondary;
      }
    }
  }
}

@media (max-width: 500px) {
  .main-content {
    .btn-container {
      gap: 0.875rem;
      .login-btn,
      .guest-btn {
        padding: .625rem .3125rem;
      }
    }
    .legal-imprint-container {
      gap: 0;
    }
  }
}
