@import "./../../../colors.scss";
@import "./../../../styles.scss";

.profile-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: $padding-dialog;
  .profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 1.5rem;
      font-weight: 500;
      color: $black;
      margin: 0;
    }
  }
}

.avatar {
  display: flex;
  justify-content: center;

  .avatar-img {
    position: relative;
    border-radius: $b-radius-2;

    .edit-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background: none;
      border: solid 1px transparent;
      border-radius: $b-radius-2;
      @include firstTranistion();
      &:hover,
      &:focus-visible {
        background: $bg-color;
        outline: none;
      }
      &:hover svg path {
        fill: $primary-hover;
      }
    }
  }
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
  }
  .edit {
    display: none;
    width: 40px;
    height: 40px;
    background: none;
    border: solid 1px transparent;
    border-radius: $b-radius-2;
    @include firstTranistion();
    &:hover,
    &:focus-visible {
      background: $bg-color;
      outline: none;
    }
    &:hover svg path {
      fill: $primary-hover;
    }
  }
}

.active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  span {
    color: $active;
  }
}

.e-mail {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    span {
      font-size: 1.25rem;
      color: $black;
    }
    a {
      font-size: 1.125rem;
      text-decoration: none;
      color: $e-mail;
      border: dotted 0.2rem transparent;
      &:focus {
        outline: none;
        border: dotted 0.2rem $e-mail;
      }
    }
  }
}

::ng-deep .cdk-global-overlay-wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

::ng-deep
  .profile-container
  .mat-mdc-dialog-container
  .mdc-dialog__container
  .mat-mdc-dialog-surface {
  border-radius: $b-radius-1 0 $b-radius-1 $b-radius-1;
  position: absolute;
  width: 500px;
  height: 600px;
  top: 6.25rem;
  right: 2.5rem;
  .mat-mdc-dialog-content {
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .profile-card {
    .name {
      button {
        span {
          display: none;
        }
        img {
          display: flex;
        }
      }
    }
  }

  ::ng-deep
    .profile-container
    .mat-mdc-dialog-container
    .mdc-dialog__container
    .mat-mdc-dialog-surface {
    border-radius: $b-radius-1 0 $b-radius-1 $b-radius-1;
    position: absolute;
    width: 500px;
    height: 600px;
    top: auto;
    right: auto;
  }
}
