@import "./../../../../colors.scss";
@import "./../../../../fonts.scss";
@import "./../../../../styles.scss";

::ng-deep .close-btn {
  background: none;
  border: solid 0.0625rem transparent;
  border-radius: $b-radius-2;
  transition: all 175ms ease-in-out;
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.1;
  }
  &:hover,
  &:focus-visible {
    background: $bg-color;
    outline: none;
  }
  &:focus-visible svg path {
    fill: $primary-hover;
  }
  app-close {
    &:hover svg path {
      fill: $primary-hover;
    }
  }
}

// close button in message-field by image
::ng-deep app-message-field {
  .close-btn {
    app-close {
      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}
