@import "./../../../colors.scss";
@import "./../../../styles.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .logo-container {
    padding-top: 2.8125rem;
    .logo {
      width: 15.1319rem;
      height: 4.375rem;
    }
  }
  .new-user-link {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    width: 11.25rem;
    p {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.5344rem;
      color: $black;
    }

    button {
      background-color: $bg-color;
      text-align: center;
      padding: 0.625rem 0.9375rem;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.35rem;
      color: $primary-hover;
      border: solid .0625rem transparent;
      border-radius: $b-radius-2;
      text-decoration: none;
      @include firstTranistion();
      &:hover {
        border: $primary-hover .0625rem solid;
        border-radius: $b-radius-2;
        color: $primary;
      }
      &:focus {
        border: solid 0.0625rem $secondary;
        outline: $secondary;
      }
    }
  }
}

@media (max-width: 500px) {
  header {
    justify-content: center;
    margin-block: 1.25rem;
    .new-user-link {
      display: none;
    }
  }
}
