<section>

  <header>
    <button class="header-left-container" (click)="openProfileUserSingle(user.privatMessageReceiver!.uId)">
      <app-avatar [userMessageReceiver]="user.privatMessageReceiver!"></app-avatar>
      <h1 class="channel-name"> {{ user.privatMessageReceiver!.displayName }}</h1>
    </button>
  </header>

  <div class="chat-main-container">
    @for (message of this.ms.messages(); track this.ms.messages; let index = $index) {
    <app-message-answer [userMessage]="message" [index]="index">
    </app-message-answer>
    }
  </div>

  <app-message-field [directMessage]="true" [ngClass]="{'edit-field': stateControl.editDirectMessage}"
    [textAreaEdit]="textArea" [channelIdEdit]="channelId" [textAreaEditId]="textAreaId"
    [textAreaIsEdited]="textAreaEdited"></app-message-field>




</section>