<section ngClass="pre-loader-container">
  @if(user.privatMessageReceiver){
  <header>
    <button class="header-left-container" (click)="openProfileUserSingle(user.privatMessageReceiver.uId)">
      <app-avatar [userMessageReceiver]="user.privatMessageReceiver"></app-avatar>
      <h1 class="channel-name"> {{ user.privatMessageReceiver.displayName }}</h1>
    </button>
  </header>


  <div class="chat-main-container" #scrollToBottom>


    <div class="welcome-container">
      <h1>Willkommen in eurem privaten Channel!</h1>
      <div class="avatar-container ">
        <button class="avatar" (click)="openProfileUserSingle(user.privatMessageReceiver.uId)">
          <app-avatar [userMessageReceiver]="user.privatMessageReceiver"></app-avatar>
        </button>
        <h3> {{ user.privatMessageReceiver.displayName }}</h3>
      </div>

      <div class="welcome-content">
        <p>
          Diese Unterhaltung findet nur zwischen
          <button class="user" (click)="openProfileUserSingle(user.privatMessageReceiver.uId)"><span>&commat;</span>{{user.privatMessageReceiver.displayName}}</button>
          und dir statt.
        </p>

      </div>
    </div>



    @for (message of this.ms.messages(); track this.ms.messages; let index = $index) {
      <app-message-answer [userMessage]="message" [index]="index">
    </app-message-answer>
    }
  </div>

  <app-message-field [directMessage]="true" [ngClass]="{'edit-field': stateControl.editDirectMessage}"
    [textAreaEdit]="textArea" [channelIdEdit]="channelId" [textAreaEditId]="textAreaId"
    [textAreaIsEdited]="textAreaEdited"></app-message-field>
  }
  @else {
  <div class="pre-loader-container"></div>
  }


</section>