@import "../../../../colors.scss";
@import "../../../../fonts.scss";
@import "../../../../styles.scss";

.message-field-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  border-radius: 1.25rem;
  border: solid 1px $primary-light;
  padding: 1.25rem;
  height: 10.625rem;
  &:focus-within {
    border: solid 0.0625rem $primary-hover;
    outline: $primary-hover;
    box-shadow: 0 0 1.1875rem -0.625rem $primary-hover;
  }
  .edit-field-info {
    display: none;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-0.9375rem);
  }
  .show-edit-filed {
    display: flex !important;
  }
  .show-edit-filed-direction {
    flex-direction: column;
  }
  .text-area-with-image-and-icons {
    display: flex;
    height: 100%;
    .image-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 5.3125rem;
      margin-right: 1rem;
      background: rgba(0, 0, 0, 0.08);
      margin: 0.3125rem;
      padding: 0.3125rem;
    }
    .textarea-with-icons {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      .message-field-content {
        display: flex;
        align-items: center;
        height: 100%;
      }

      textarea {
        width: 100%;
        height: 100%;
        resize: none;

        &:focus {
          border: solid 0.0625rem none;
          outline: none;
        }
      }
    }
  }
}

.input-field {
  width: 100%;
  height: 100%;
  display: flex;
}

.txt {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5344rem;
}

.icons-container {
  display: flex;
  gap: 0.1875rem;
  width: 100%;

  button {
    background: none;
    border: solid 1px transparent;
    border-radius: $b-radius-2;

    &:hover {
      background: $bg-color;
    }

    &:focus {
      border: solid 0.0625rem transparent;
      background: $bg-color;
      outline: transparent;
    }

    &:hover svg path {
      fill: $primary-hover;
    }
  }

  button:nth-of-type(4) {
    margin-left: auto;
    position: relative;
    &:disabled {
      cursor: auto;
      background-color: transparent !important;
      border: none !important;
      svg path {
        fill: $gray;
      }
    }
    .disable-info {
      visibility: hidden;
      opacity: 0;
      transform: translateX(.3125rem);
      transition: all 300ms ease-out;
      position: absolute;
      right: 2rem;
      bottom: 1.875rem;
      padding: 0.625rem;
      border-radius: $b-radius-3 $b-radius-3 0 $b-radius-3;
      background-color: $primary-light;
      width: max-content;
    }

    &:hover .disable-info {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.d-none {
  display: none;
}

.edit-field {
  background: $white;
  border: solid 0.125rem $primary-hover;

  &:focus-within {
    border: solid 0.125rem $primary-hover;
    outline: $primary-hover;
    box-shadow: 0 0 1.1875rem -0.625rem $primary-hover;
  }
}

.textarea-edit {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 0.75rem 0 0 0.75rem;
  padding: 0.625rem 0.3125rem 0.625rem 0.625rem;
}

.icons {
  cursor: pointer;
}

.vector-container {
  height: 2.5rem;
  border-right: solid 0.0625rem $primary-light;
}

.textarea-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emoji {
  display: flex;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  bottom: 4.0625rem;
  left: 0;
  width: 22.1875rem;
  height: 26.875rem;
}

emoji-mart {
  display: flex;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  bottom: 0;
  left: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 175ms;
  transform: translateY(100%);
}

.show-emoji {
  visibility: visible;
  transform: translateY(0);
}

.added-user {
  color: #4954c5;
  background-color: #e4dcdb;
  padding-inline: 0.125rem;
  &:hover {
    color: $white;
    background-color: #5865f2;
  }
}

.users-container {
  display: flex;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  max-height: 26.875rem;
  max-height: 16.875rem;
  left: 5rem;
  z-index: 1;
  overflow: scroll;
  top: 0;
  transform: translateY(-94%);
  ul {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background: $white;
    padding-block: 1rem;
    border: solid 0.0625rem $secondary;
    outline: $secondary;
    transition-timing-function: ease-in-out;
    transition-duration: 175ms;
    transform: translateY(100%);

    button {
      display: flex;
      align-items: center;
      gap: 1rem;
      background: none;
      width: fit-content;
      text-align: start;
      padding: 0.25rem 1.75rem;
      &:hover {
        background: $bg-color;
        border-radius: $b-radius-2;
        color: $primary-hover;
      }
    }
  }
}

.show-users {
  visibility: visible !important;
  transform: translateY(0) !important;
}

@media (max-width: 800px) {
  .message-field-container {
    padding: 0.625rem;
    height: 100%;
    .message-field-content {
      height: 2rem;
    }
  }
}
