<div class="container">
    <div class="container-content">
      <div class="title">
        <h2># {{chat.currentChannelData.channelName}}</h2>
        <button  class="close-btn" (click)="closeChannelEdit()">
          <app-close></app-close>
        </button>
      </div>
  
      <!-- Channel-Name -->
      <div class="channel-name-container" [ngClass]="{'d-none': channelEditTitel}">
        <div class="edit-name-container">
          <h3>Channel-Name</h3>
          <button (click)="onEditTittle()" class="edit" [class.disabled]="isDisabled">Bearbeiten</button>
          <button (click)="onEditTittle()" class="edit-img" [class.disabled]="isDisabled">
            <svg
        width="19"
        height="19"
        viewBox="0 0 19 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2 17H3.4L12.025 8.375L10.625 6.975L2 15.6V17ZM16.3 6.925L12.05 2.725L13.45 1.325C13.8333 0.941667 14.3043 0.75 14.863 0.75C15.421 0.75 15.8917 0.941667 16.275 1.325L17.675 2.725C18.0583 3.10833 18.2583 3.571 18.275 4.113C18.2917 4.65433 18.1083 5.11667 17.725 5.5L16.3 6.925ZM1 19C0.716667 19 0.479333 18.904 0.288 18.712C0.0960001 18.5207 0 18.2833 0 18V15.175C0 15.0417 0.025 14.9127 0.075 14.788C0.125 14.6627 0.2 14.55 0.3 14.45L10.6 4.15L14.85 8.4L4.55 18.7C4.45 18.8 4.33767 18.875 4.213 18.925C4.08767 18.975 3.95833 19 3.825 19H1Z"
          fill="#1C1B1F"
        />
      </svg>
          </button>
          </div>
        <p><span style="font-weight: bold;">#  </span>{{chat.currentChannelData.channelName}}</p>
      </div>

      <!-- EDIT -->
      <div class="input-container" [ngClass]="{'d-none': !channelEditTitel}">
        <div class="edit-name-container">
          <label for="channel-name">Channel-Name</label>
          <button (click)="saveChannelTittle()" class="edit">Speichern</button>
        </div>
        <input type="text" #channelName class="input-field-hash-icon" placeholder="z.B. Kooperationsprojekte" name="channelName" [(ngModel)]="chat.currentChannelData.channelName" autocomplete="off"/>
      </div>
      <!-- Channel-Name END -->
  
  
  
  
      <!-- Beschreibung -->
      <div class="channel-info-container" [ngClass]="{'d-none': channelEditDescription}">
        <div class="edit-name-container">
          <h3>Beschreibung</h3>
          <button (click)="onEditDescription()" class="edit" [class.disabled]="isDisabled">Bearbeiten</button>
          <button (click)="onEditDescription()" class="edit-img" [class.disabled]="isDisabled">
            <svg
        width="19"
        height="19"
        viewBox="0 0 19 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2 17H3.4L12.025 8.375L10.625 6.975L2 15.6V17ZM16.3 6.925L12.05 2.725L13.45 1.325C13.8333 0.941667 14.3043 0.75 14.863 0.75C15.421 0.75 15.8917 0.941667 16.275 1.325L17.675 2.725C18.0583 3.10833 18.2583 3.571 18.275 4.113C18.2917 4.65433 18.1083 5.11667 17.725 5.5L16.3 6.925ZM1 19C0.716667 19 0.479333 18.904 0.288 18.712C0.0960001 18.5207 0 18.2833 0 18V15.175C0 15.0417 0.025 14.9127 0.075 14.788C0.125 14.6627 0.2 14.55 0.3 14.45L10.6 4.15L14.85 8.4L4.55 18.7C4.45 18.8 4.33767 18.875 4.213 18.925C4.08767 18.975 3.95833 19 3.825 19H1Z"
          fill="#1C1B1F"
        />
      </svg>
          </button>
        </div>
        
        <p>
          {{chat.currentChannelData.channelDescription}}
        </p>
  
        <div class="separator"></div>
        
        <div class="creat-user">
          <h3>Erstellt von</h3>
          <div class="user-link">{{ chat.currentChannelData.createdBy[0].displayName }}</div>
        </div>
      </div>
      
      <!-- EDIT -->
      <div class="input-container" [ngClass]="{'d-none': !channelEditDescription}">
        <div class="edit-info-container">
          <label for="description">Speichern</label>
          <button (click)="saveChannelDescription()" class="edit">Speichern</button>
        </div>
        <input #description type="text"
          placeholder="Dein Text hier" name="description" [(ngModel)]="chat.currentChannelData.channelDescription" autocomplete="off"/>
      
          <div class="separator"></div>
  
          <div class="creat-user">
            <h3>Erstellt von</h3>
            <div class="user-link">{{ chat.currentChannelData.createdBy[0].displayName }}</div>
          </div>
          
        </div>
        <!-- Description END-->
      
    </div>  
  
    <div class="btn-container">

      <button class="channel-btn" [class.disabled]="isDisabled" (click)="onDeleteChannel(chat.currentChannelData.chanId)">Channel löschen</button>

      <button class="channel-btn" [disabled]="isDisabledCreatedBy" (click)="leaveChannel()" >Channel verlassen</button>
      <button class="change-btn" [class.disabled]="isDisabled" (click)="onUpdateChannel(chat.currentChannelData.chanId, 'Änderungen wurden gespeichert')">Änderungen speichern</button>
    </div>
    <app-toast [ngClass]="{ 'show-success': stateServer.showToast }"></app-toast>
    
  </div>
  