<div class="chat-content">
  <div class="time-separator">
    <div class="day-time">Dienstag, 14 Januar</div>
    <div class="middle-line"></div>
  </div>
  <div class="user-message-container">
    <app-reaction-bar></app-reaction-bar>
    <img
      src={{userMessage.profileImage.src}}
      alt="profil-image"
    />
    <div>
      <div class="font-nunito">
        <h2> {{userMessage.userDetails.userName}}</h2>
        <div class="time-stamp">{{userMessage.userDetails.timeStamp}}</div>
      </div>
      <div class="messages-main-chat font-nunito">{{userMessage.messageContent}}
      </div>
      <div class="answer-container">
        <div class="answer">{{userMessage.answerDetails.answers}}</div>
        <div class="time-stamp">{{userMessage.answerDetails.lastAnswerTimeStamp}}</div>
      </div>
    </div>
  </div>
</div>
